*, *:before, *:after {
  box-sizing: inherit;
}

html, body {
  padding: 0;
  margin: 0;
}

.c-002 {
  background: url(img/collection02/intro-bg.svg) right -100px no-repeat;
  background-size:  120vh;
}




h1 {
  font-size: 20px;
  position: absolute;
  display: block;
  text-transform: uppercase;
  letter-spacing: 5px;

}

h2{
  font-size: 46px;
  font-weight: bold;
  margin: 0;
  display: inline-block;
}

p {
  max-width: 500px;

}

collection {
  letter-spacing: 0px;
  display: block;
  font-size: 12px;
}

.section {
  min-height: 100vh;
  position: relative;
}


#home {
  h1{
      left:25vw;
      top:25vh;

      collection {
        padding-top: 10px;

      }
  }
}
#collection-002{
  height: 200vh
}


#illustration-splash{
  background: url(img/illustration/particlePrison.jpg);
  background-size: cover;
}

#product-splash{
  background: url(img/products/screen-saver-splash.png) left center #1e1f21 no-repeat;
  background-size: cover;
}

#bio {



  .block {
    position: absolute;
    right:40px;
    top:0;
    bottom:30px;
    text-align: right;
    max-width: 480px;
    padding-top: 370px;
    background: url(img/me.jpg) right 30px  no-repeat;
    background-size: 300px;

  }

}

@media screen and (max-width: 780px) {

    #home {
      h1{
          left:80px;
          top:80px;
      }
    }

}
