#illustration-splash {


  .i-thumbs {
    margin: 1200px auto 100 auto;
    display: flex;
    align-items: center;
    flex-direction: column;
    max-width:600px;

  }


  .card {
    max-width: 600px;
    width: 100%;
    display: block;
    top:500px;
    left:50%;
    transform: translate(-50%,-20%);
    opacity: 0;
    transition: all 3s;
    position: absolute;
  }

  .art-box {

    border: 0;
    clear: both;
    display: inline-block;
    margin: 100px auto !important;
    clear: both;
    img {
      display: block;
      width: 100%;
      margin: 0 auto;
      border: 3px solid;

    }

  }

  #eyes{
    max-width: 586;

  }

  #jail {
    max-width: 400px;
  }
  #kids {

    max-width: 391px;

  }

  #leaves {
    max-width: 391px;
  }
  #hat {
    max-width: 471px;

  }

}
